  	<%= turbo_frame_tag(habit, class: "block w-full md:w-3/4 lg:w-1/2") do %>
  <div class="relative  p-5 bg-white text-gray-500 rounded-lg shadow-lg">
    <div class="absolute top-0 right-0 md:left-0 transform -translate-x-3 -translate-y-3">
      <awards-badge class="flex items-center space-x-1 text-xs">
        <!-- <img src="/images/medal.png" alt="medal icon" width="30" oncontextmenu="return false;">
					<img src="/images/trophy.png" alt="medal icon" width="30" oncontextmenu="return false;">
					<img src="/images/trophy(2).png" alt="medal icon" width="30" oncontextmenu="return false;"> -->
        <p class="p-1 bg-gray-400 text-gray-800 rounded">silver</p>
        <p class="p-1 bg-yellow-400 text-yellow-800 rounded">gold</p>
      </awards-badge>
    </div>
    <div class="pt-5 mb-5 md:flex items-center justify-between space-y-2 md:space-y-0">
      <p class="text-2xl font-bold text-gray-900 "><%= habit.name %></p>
      <div class="flex space-x-2 text-white">
        <%= button_to "-", minus_habit_path(habit), class: "py-1 px-3 font-extrabold bg-red-400 hover:bg-red-300 rounded-lg shadow hover:scale-105 transition duration-300" %>
        <div class="flex items-center justify-center py-1 px-3 text-sm bg-yellow-300 text-yellow-600 rounded-full">
          <p id="<%= dom_id(habit, 'habit_counter') %>"><%= habit.count %> Days</p>
        </div>
        <%= button_to "+", plus_habit_path(habit), class: "py-1 px-3 font-extrabold bg-green-400 hover:bg-green-500 rounded-lg shadow hover:scale-105 transition duration-300" %>
      </div>
    </div>
    <div class="space-y-2">
      <div class="text-xs md:text-sm">
        <p id="<%= dom_id(habit, 'time_update') %>">last updated: <%= format_date(habit.updated_at) %></p>
      </div>
      <div class="px-1 bg-gray-200 rounded-full">
        <%= render 'habit_streak_markers', habit: habit %>
      </div>
      <action-buttons class="!mt-7 flex justify-end space-x-4">
        <%= link_to edit_habit_path(habit) do %>
          <%= heroicon "pencil-square" %>
          <% end %>
        <%= button_to habit_path(habit), method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
          <%= heroicon "trash" %>
          <% end %>
       
      </action-buttons>
    </div>
  </div>
<% end %>