<%= turbo_stream.replace dom_id(@habit, 'habit_counter') do %>
  <p id="<%= dom_id(@habit, 'habit_counter') %>"><%= @habit.count %> Days</p>
<% end %>
<%= turbo_stream.replace dom_id(@habit, 'time_update') do %>
  <p id="<%= dom_id(@habit, 'time_update') %>">last updated: <%= format_date(@habit.updated_at) %></p>
<% end %>
<%= turbo_stream.replace dom_id(@habit, 'habit_markers') do %>
  <%= render 'habit_streak_markers', habit: @habit %>
<% end %>